.main {
    --main-color: #0099ff;
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 6rem;
    font-size: 4rem;
    font-weight: 900;
}

.logo {
    margin-left: 0.5rem;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
}

.description {
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 10em;
}

.section {
    width: 100%;
    background-color: var(--main-color);
}

.section h2 {
    font-weight: 800;
}

.section div div h4 {
    font-weight: 700;
}

.sectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sectionContainer div {
    text-align: center;
}